/*
Theme Name: In Junior
*/

:root {
    font-size: 0.625rem;
    --color1: #fafafa;
    --color2: #3F7CAC;
    --color3: #72B5A4;
    --color4: #333;
    --color5: #666;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color1);
    margin: 0;
}


/* ================ HEADER DAS PÁGINAS ===================*/
header{
    background: #3F7CAC;
    width: 100%;
    padding: 20px;
    position: sticky;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

nav{
    text-align: right;
    font-size: 2rem;
    font-family: cursive;
    
}

/*====RETIRADA DOS MARCADORES DA LISTA MENU====*/
.menu ul {
    list-style:none;
    display: flex;
    gap: 2rem;
}

/*DEFINIR A COR DAS LETRAS DO MENU DE NAVEGAÇÃO*/
.menu ul a{
    color:#fafafa; 
    text-decoration:none    
}

header img{
    height: 80px;
    margin: 0 auto;   
}




/* ================ GENÉRICO =================== */
/* ------ (Botõe, parágrafos, links, etc) ------ */
section {
    border-bottom: 2px solid var(--color5);
    display: flex;
    justify-content: center;
    padding: 50px 0;
}


.container {
    width: 80vw;
    max-width: 960px;
}




/* ==================== HEADER ======================== */
/* Se for mudar a altura do header, muda através dessa variável, pois assim podemos 
nos referir facilmente à altura do header em qualquer lugar do código. */
:root {--headerHeight: 100px;}

header {
    height: var(--headerHeight);
}



/* ================= Section=intro ===================== */
#intro {}



/* ================ Section=sobre ====================== */
#sobre {}



/* =============== Section=produtos ==================== */
#produtos {}

#produtos .container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

#produtos .card {
    background-color: var(--color5);
    height: 30rem;
    position: relative;
}

#produtos .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#produtos .card h3 {
    position: absolute;
    bottom: 0;
    background-color: #000A;
    color: white;
    font-size: 1.6rem;
    padding: 1em 3em;
}

/* =============== Section=noticias ==================== */
#noticias {}



/* ==================== FOOTER ========================= */
footer {
    background: #3F7CAC;
    width: 100%;
    height: 300px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;   
}

footer img{
    height: 100%;
    height: 100px;
    margin: 0 auto;   
    
}

.rodapé{
    text-align: center;
    font-size: large;
    color: snow;
    font-family: cursive;  
    line-height: 20px;
}


